.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: red;
  margin: 10px;
}

.dragger {
  cursor: pointer;
  border: 2p solid black;
  font-size: 1rem;
  float: right;
  margin: 0;
}
